:root {
    --color-brand: #2a3e7e;
}

.color-brand {
    color: var(--color-brand);
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: min(1040px, 100%);
    padding: 0 20px;
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: "Staatliches", cursive;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.ul {
    text-decoration: underline;
}

nav {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 4px solid var(--color-brand);
    position: relative;
}

.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-item a {
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    margin-right: auto;
}

.nav-toggle {
    display: none;
    position: absolute;
    right: 0;
}

#title {
    font-size: 5rem;
    text-align: left;
    line-height: 4.2rem;
    letter-spacing: 0.1em;
    padding: 2rem 0 0 0;
}

@media only screen and (max-width: 600px) {
    .nav-items {
        flex-direction: column;
        align-items: baseline;
        gap: 0;
    }
    .nav-item {
        margin-top: 0.5rem;
        transition: all 0.5s ease-in-out;
    }
    .nav-toggle {
        display: block;
    }
    nav:not(.open) .nav-item:not(.logo, .nav-toggle) {
        font-size: 0;
        margin: 0;
    }
}

section>h2 {
    font-size: 4rem;
    width: 16rem;
    line-height: 3.5rem;
    border-left: 6px solid var(--color-brand);
    padding-left: 1rem;
}

section {
    margin-top: 1rem;
    padding: 1rem 0;
}

#signatories-list {
    padding: 1em;
}

#signatories-list>li+li {
    margin-top: 1rem;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.sign-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-button {
    display: block;
    border: 2px solid var(--color-brand);
    width: max-content;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 4rem 0;
    background-color: white;
    font-family: "Staatliches", cursive;
    color: var(--color-brand);
    padding: 1rem;
    cursor: pointer;
}

.sign-button:hover,
.sign-button:target {
    background-color: rgb(245, 245, 245);
}

.sign-button:active {
    background-color: rgb(240, 240, 240);
}